table{width:100%}
td{text-align:center;background-color:#CCCCCC;color:#000000;}
td.inner{background-color:#CCCCCC; height:auto; font-size:36px}
td.content>td{margin-left:20%; margin-right:20%}
.over{background-color:#FF6600 !important;color:#FFFFFF !important;}
.title{height:130px;font-size:80px;}
a{text-decoration:none}
.block{display:block}